<h1><%= @story.name %></h1>

<p><%= link_to 'Edit', edit_story_path(@story) %></p>
<p><%= link_to 'Delete', story_path(@story),
                          data: {confirm: "You sure?",
                          method: "delete"}%></p>
